.navbar-container {
  width: 280px;
  height: 100vh;
  background-color: rgb(247, 238, 238);
  position: fixed;
  top: 0;
  left: -100%;
  transition: left 0.3s ease;
}

.menu-icon {
  cursor: pointer;
  font-size: 24px;
  color: rgb(22, 16, 16);
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}

.navbar-container.open {
  left: 0; 
}

.nav-list-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  padding-right: 0px;
  position: relative;
  top: 10em;
}

.nav-list-container li{
  padding: 10px;
  font-size: medium;
  font-weight: bolder;
  width: 100%;
  margin-bottom: 5px;
}


.nav-list-container li.active {
  background-color: rgb(180, 238, 63);
}

.icons-container{
  display: flex;
  justify-content: right;
  padding: 20px;
  position: relative;
  top: 37vh;
}

.icons-container li{
  padding: 10px;
  color: grey;
}

.footer-container{
  display: flex;
  justify-content: right;
  padding: 20px;
  position: relative;
  top: 28vh;
}

.footer-container li{
  font-size: 12px;
  padding: 10px;
  color: grey;
}

.homepage-container{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  border: 2px solid brown;
  height: 80vh;
}

.homepage-container h1{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 2em;
  left: 2em;
  font-size: 40px;
  font-weight: bolder;
  width: 100%;
}

.homepage-container p{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: grey;
  top: 4.5em;
  left: 4.5em;
  font-size: 17px;
  width: 100%;
}

.forward-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  background-color: rgb(180, 238, 63);
  height: 40px;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  cursor: pointer;
}

.forward-button-container i:hover{
  font-size: 20px;
}

.back-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  background-color: rgb(180, 238, 63);
  height: 40px;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  cursor: pointer;
}

.back-button-container i:hover{
  font-size: 20px;
}